@media screen and (max-width: 480px) {
  body {
    margin: 0;
    font-family: "Cuprum", sans-serif; }

  header {
    width: 100%;
    height: 22.4vw; }

  #headerTop {
    width: 100%;
    height: 16.4vw;
    background-color: #FFF3F3;
    display: flex;
    flex-direction: row;
    margin-bottom: 0; }

  #leftPart {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2vw;
    margin: auto; }

  #rightPart {
    width: 0%; }

  #rightPart a {
    width: 100%;
    display: flex;
    justify-content: flex-end; }

  #logoTopLeft {
    width: 100%; }

  #bannerTopRight {
    display: none; }

  #menu {
    width: 100%;
    height: 6.1vw;
    background-color: #8E1616;
    display: flex;
    align-items: center; }

  nav {
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }

  li a {
    font-size: 4vw; }

  #mainContent {
    height: 110.6vw;
    background-color: #CECECE;
    position: relative; }

  #mainContent img {
    width: 100%; }

  #headline {
    position: absolute;
    top: 5vw;
    left: 0;
    right: 0;
    color: white;
    font-size: 4vw;
    margin: auto;
    width: 25%;
    height: 5vw; }

  #bellowImage {
    margin-top: 25vw; }

  #bellowImage p {
    font-size: 3vw;
    margin: 0;
    margin-bottom: 0.7vw;
    color: #3B3B3B;
    transform: scaleY(1.2); }

  #bellowImage #firstPbellow {
    font-size: 3.7vw; }

  #appear {
    position: absolute;
    width: 87.5%;
    height: 75vw;
    top: 12vw;
    left: 0;
    right: 0;
    text-align: center; }

  #appear p {
    font-size: 2.3vw;
    color: #2C2C2C; }

  #bait {
    width: 100%;
    height: 9vw;
    margin: 0 auto; }

  #bait p {
    text-align: center;
    margin-top: 3.5vw;
    font-size: 4.8vw;
    text-shadow: 0.1vw 0vw #2C2C2C;
    transform: scaleY(1.2);
    line-height: 6vw; }

  #inputRows {
    width: 73%;
    height: 32%;
    margin: 0 auto;
    margin-bottom: 0.7vw; }

  #rowUp {
    display: flex;
    flex-direction: column; }

  #rowDown {
    display: flex;
    flex-direction: column; }

  #rowUp p {
    margin-top: 0; }

  #inputRows p {
    font-size: 3vw;
    color: green; }

  #calculateArea {
    width: 73%;
    height: 26%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }

  .row p {
    margin-bottom: 0px; }

  input {
    width: 80%;
    height: 5vw;
    opacity: 1;
    border: 1px solid #8D8D8D; }

  select {
    width: 80%;
    height: 5vw;
    font-size: 2.5vw;
    border: 1px solid #767676; }

  #calculate {
    background-color: red;
    margin-top: 20vw; }

  #calculateArea #printText {
    font-size: 4vw;
    transform: scaleY(1.1);
    color: red;
    margin: 0;
    margin-top: 2vw;
    font-weight: bold; }

  .checkmark {
    width: 1vw;
    height: 2vw;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }

  #packages {
    width: 98%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 9vw; }

  .packageBox {
    margin: auto;
    width: 90%;
    height: 70vw;
    color: #473E3C;
    border-top: 2px solid #2D2D2D;
    border-left: 1px solid #CFCFCF;
    border-right: 1px solid #CFCFCF;
    border-bottom: 2px solid #CFCFCF; }

  .packageWrap {
    width: 80%;
    margin: 0 auto; }

  .packageHead {
    font-size: 6vw;
    color: #0E3174;
    margin-bottom: 0;
    margin-top: 2vw; }

  .underPackageHead {
    margin-top: 0;
    font-size: 4vw; }

  .thickerPlusText {
    display: flex;
    flex-direction: row;
    height: 2.9vw;
    margin-bottom: 1.1vw;
    margin-left: 1vw;
    margin-top: 5vw; }

  .thickerPlusText p {
    margin: 0 0 0 1vw;
    font-size: 5vw; }

  .benefitsHeader {
    font-size: 4vw;
    font-weight: bold;
    margin-bottom: 0; }

  .benefitsDescription {
    margin-top: 0;
    font-size: 3.8vw;
    color: #9F9B9C; }

  hr {
    height: 1px;
    background-color: #F6F5F4;
    border: none;
    margin-top: 5vw; }

  footer {
    margin-top: 8vw;
    width: 100%;
    height: 30vw;
    background-color: #171717;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

  #footerMenu {
    width: 100%; }

  #footerMenu nav {
    width: 100%;
    margin-left: -2vw; }

  #footerMenu ul {
    width: 100%;
    display: flex;
    justify-content: center; }

  #footerMenu li {
    list-style: none;
    margin-right: 2vw;
    font-size: 5vw; }

  #footerMenu li a {
    color: white;
    font-size: 6vw;
    text-decoration: none; }

  #footerLogo {
    display: none; }

  #footerBottom {
    align-self: center;
    width: 40%; }

  #footerBottom p {
    color: white;
    font-size: 3.5vw;
    margin-bottom: 0vw; }

  .checkmark {
    width: 3vw;
    height: 6vw; }

  .checkmark_stem {
    position: absolute;
    width: 0.8vw;
    height: 2.6vw;
    background-color: #8FD2D4;
    top: 0.8vw; }

  .checkmark_kick {
    position: absolute;
    width: 2vw;
    height: 0.8vw;
    background-color: #8FD2D4;
    left: -1.2vw;
    top: 3.4vw; }

  #rightPackage {
    margin-top: 3vw; } }

/*# sourceMappingURL=homeQueries.css.map */
